[submodule "Configurations/Weights/Data/LegacyCorrectionsWorkspace"]
	path = Configurations/Weights/Data/LegacyCorrectionsWorkspace
	url = https://github.com/danielwinterbottom/LegacyCorrectionsWorkspace.git
